@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
    background-color: #F1F1F1;
}
button:hover{
    cursor: pointer;
}
.allservices-sec{
    width: 100%;
    padding: 1rem 1rem;
}
.serachbar >form{
    display: flex;
    flex-direction: row;
}
.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: #ffffff;
    outline: none;
  }
  
.search-button {
    padding: 0 10px;
    background: #ccc;
    border: 1px solid black;
    outline: none;
    margin-left: -33px;
    border-radius: 0 100px 100px 0; 
}
.search-button:hover{
    cursor:pointer;
    background:#aaa;
}
.services-con{
    margin-top: 1rem;
}
.service-card{
    margin-top: 1.5rem;
    height: 11rem;
    width: 100%;
    background-color:#131E3A;
    padding: .8rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    outline: 2px solid #131E3A;
}
.service-card:hover{
    outline: 4px solid #F44336;
    border-radius: 8px;
    background-color:#0a1d4b;
}
.card-img{
    height: 100%;
    width: 9rem;
}
.card-img img{
    height: 100%;
    width: 100%;
    outline:2px solid white;
    border-radius: 8px;
}
.card-info{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.car-info-top{
    text-align: left;
}
.car-info-top h2{
    color: white;
    font-size: 1.8rem;
}
.car-info-top p{
    color: #F44336;
    font-weight: 700;
    
}
.car-info-bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
}
.car-info-bottom h2{
    font-weight: 800;
    font-size: 1.8rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}
.car-info-bottom h2{
    font-weight: 800;
    font-size: 1.8rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.car-info-bottom p{
    width: 65%;
    color: white;
    padding-top: 1rem;
    text-align: left;
}
@media screen and (min-width:1023px){
    .allservices-sec{
        padding-left: 17rem;
        padding-right:4vw; 
    }
}
