@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:#F1F1F1;
}
button:hover{
    cursor: pointer;
}
.event-section{
    padding-bottom: 2rem;
}
/*.event-hero::before{
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url("event.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(1px) brightness(50%);
  border-radius: 8px;
  
}*/
.event-hero{   
    width: 100%;
    min-height:350px;
    color: white;
    position: relative;
    outline: 2px solid black;
    border-radius: 8px;
    
}
.event-hero img{
    top: 0; left: 0;
    width: 100%; 
    height: 100%;
    position: absolute;
    filter: blur(1px) brightness(50%);
    border-radius: 8px;
}
.event-hero h1{
    position: absolute;
    top:2rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;   
    text-shadow: 3px 4px 9px rgba(255,255,255,0.47);   
    text-decoration: underline;
}
.event-hero h2{
    position: absolute;
    bottom:2rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-shadow: 3px 4px 9px rgba(255,255,255,0.47);
}
.event-hero >h2> span{
    font-size: 2rem;
}
.description{
    padding: 1rem 2rem;
}
.description p{
    margin-top: .5rem;
    padding-left: .5rem;
    max-width:800px ;
}
.event-services-sec{
    padding: 1rem 2rem;
}
.event-services-sec h2{
    font-size: 2rem;
    text-decoration: underline;
}
.event-services{
    width: 100%;
    padding-left: 1rem;
}
.service{
    background:rgba(19, 30, 49, 0.45 );
    outline: 2px solid #131E3A;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-radius: 8px;
}
.service-details{
    display: flex;
    gap: 1rem;
}
.service-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: .5rem;
}
.service-data-vendor{
    display: flex;
    gap: 1rem;
}
.service-image{
    background-color: aquamarine;
    min-height:7rem;
    width:7rem;
    border-radius: 8px;
}
.service-image img{
    height: 100%;
    width: 100%;
}
.status{
    background-color: aliceblue;
    padding: .4rem .7rem;
    border-radius: 16px;
}
.service-btns{
    display: flex;
    margin-top: .5rem;
    justify-content: space-between;
}
.service-btns button{
    border: none;
    background: transparent;
}
.new-service-form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.add-Service-btn{
    border-radius: 8px;
    border: none;
    background-color:#131E3A;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1rem 0;
    width: 18rem;
}
.add-Service-btn:hover
{
    cursor: pointer;
    background-color: #0c2c7e;
    color: #F44336;
    outline: 2px solid #F44336;
}
.add-Service-btn img{
    height: 100%;
    width: 100%;
}
@media screen and (min-width:1023px){
.event-section{
    padding-left: 17rem;
    padding-right: 3rem;
}

}