* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Genaral Element Styling custom made instead of using a framework*/
.button{
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    outline-offset: 0px;
    border: 0;
    font-weight: bolder;
    transition: all .1s ease-in-out;
    cursor: pointer;
}
.button:hover{
  font-size: 1.2rem;
  color: black;
}
.submit{
  padding: 15px 50px !important;
}
.button_round{
  font-size: 1rem;
  /*padding: 15px 35px;*/
  border-radius: 50%;
  outline-offset: 0px;
  border: 0;
  font-weight: bolder;
  transition: all .1s ease-in-out;
  cursor: pointer;
}
.close{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.3rem;
  height: 1.3rem;
}
.-blue{
  outline: 2px solid #2835ba;
  background: #2835ba;
  color: white;
}
.-blue:hover{
  outline-offset: 3px;
  outline: 3px solid #2835ba;
}
.-red{
  outline: 2px solid #c71f1f;
  background: #c71f1f;
  color: white;
}
.-red:hover{
  outline-offset: 3px;
  outline: 3px solid #c71f1f;
}
.-green{
  outline: 2px solid #1ecc18;
  background: #1ecc18;
  color: white;
}
.-green:hover{
  outline-offset: 3px;
  outline: 3px solid #1ecc18;
}