<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>EventPlanner</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.EventPlanner.Controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.EventPlanner.Controllers.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventController</display-name>
    <servlet-name>EventController</servlet-name>
    <servlet-class>com.EventPlanner.Controllers.EventController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventController</servlet-name>
    <url-pattern>/EventController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageRedirectController</display-name>
    <servlet-name>PageRedirectController</servlet-name>
    <servlet-class>com.EventPlanner.Controllers.PageRedirectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageRedirectController</servlet-name>
    <url-pattern>/PageRedirectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileImageController</display-name>
    <servlet-name>EditProfileImageController</servlet-name>
    <servlet-class>com.EventPlanner.Controllers.EditProfileImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileImageController</servlet-name>
    <url-pattern>/EditProfileImageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserController</display-name>
    <servlet-name>UpdateUserController</servlet-name>
    <servlet-class>com.EventPlanner.Controllers.UpdateUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserController</servlet-name>
    <url-pattern>/UpdateUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceController</display-name>
    <servlet-name>ServiceController</servlet-name>
    <servlet-class>com.EventPlanner.Controllers.ServiceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceController</servlet-name>
    <url-pattern>/ServiceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServiceImageController</display-name>
    <servlet-name>EditServiceImageController</servlet-name>
    <servlet-class>com.EventPlanner.Controllers.EditServiceImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServiceImageController</servlet-name>
    <url-pattern>/EditServiceImageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventServicesController</display-name>
    <servlet-name>EventServicesController</servlet-name>
    <servlet-class>com.EventPlanner.Controllers.EventServicesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventServicesController</servlet-name>
    <url-pattern>/EventServicesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchServiceController</display-name>
    <servlet-name>searchServiceController</servlet-name>
    <servlet-class>com.EventPlanner.Controllers.searchServiceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchServiceController</servlet-name>
    <url-pattern>/searchServiceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditVendorServiceDetails</display-name>
    <servlet-name>EditVendorServiceDetails</servlet-name>
    <servlet-class>com.EventPlanner.Controllers.EditVendorServiceDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditVendorServiceDetails</servlet-name>
    <url-pattern>/EditVendorServiceDetails</url-pattern>
  </servlet-mapping>
</web-app>